@font-face {
  font-family: Abhinav;
  src: url("../fonts/Abhinav Regular.ttf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins-Italic;
  src: url("../fonts/Poppins-Italic.ttf");
}

:root {
  --primary-color:rgb(16, 151, 241);
  --large-text:2.5rem;
  --medium-text:2rem;
  --small-text:1.8rem;
  --dark-white:rgb(233,233,233);
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins-Regular;
  line-height: 1.4;
  scrollbar-color: var(--primary-color);
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

.login-form-container {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-form-container .login-form {
  width: 35rem;
  height: 60rem;
  margin-top: 5rem;
  padding: 5rem 2rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.login-form-container .login-form .login-header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: var(--large-text);
}

.login-form-container .login-form .login-main {
  margin: 5rem 0;
}

.login-form-container .login-form .login-main input[type="email"], .login-form-container .login-form .login-main input[type="password"] {
  width: 100%;
  height: 4rem;
  font-size: var(--medium-text);
  margin-bottom: 2rem;
  border: none;
  border-bottom: 0.15rem solid grey;
  outline: none;
}

.login-form-container .login-form .login-main input[type="email"]:hover, .login-form-container .login-form .login-main input[type="email"]:focus, .login-form-container .login-form .login-main input[type="password"]:hover, .login-form-container .login-form .login-main input[type="password"]:focus {
  border-color: var(--primary-color);
}

.login-form-container .login-form .login-footer {
  font-size: var(--small-text);
}

.login-form-container .login-form .login-footer p a {
  text-decoration: none;
  color: var(--primary-color);
}

main.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 4.5rem;
}

main.menu-container .menu-item {
  position: relative;
  width: 22rem;
  height: 25rem;
  padding: 2rem 0;
  margin: 2rem;
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
  text-align: center;
}

main.menu-container .menu-item h2 {
  font-size: var(--large-text);
}

main.menu-container .menu-item .icon {
  margin: 2rem 0;
}

main.menu-container .menu-item .icon .fa-sign-in-alt, main.menu-container .menu-item .icon .fa-plus, main.menu-container .menu-item .icon .fa-trash {
  font-size: 7rem;
  color: var(--primary-color);
}

main.menu-container .menu-item a {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 2rem;
  color: white;
  line-height: 4.2rem;
  text-decoration: none;
}

section#join-room {
  position: relative;
  min-height: 90vh;
}

section#join-room form {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section#join-room form input[type="text"] {
  display: block;
  width: 35rem;
  height: 5rem;
  font-size: 2rem;
  border: none;
  outline: none;
  margin: 0 2rem;
  padding: 0 2rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

section#join-room form button[type="submit"] {
  display: inline-block;
  width: 15rem;
  background-color: var(--primary-color);
  color: white;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

section#join-room .rules-container {
  width: 100%;
  max-width: 90%;
  position: absolute;
  top: 15rem;
  left: 7rem;
}

section#join-room .rules-container h1 {
  font-size: var(--large-text);
}

section#join-room .rules-container p {
  font-size: var(--medium-text);
  margin: 0.5rem 0;
}

section#join-room .rules-container ul li {
  font-size: var(--small-text);
  margin: 1rem 0;
}

@media only screen and (max-width: 600px) {
  section#join-room form input[type="text"] {
    width: 60%;
  }
}

section#create-room {
  position: relative;
  min-height: 90vh;
}

section#create-room form {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section#create-room form input[type="text"] {
  display: block;
  width: 35rem;
  height: 5rem;
  font-size: 2rem;
  border: none;
  outline: none;
  margin: 0 2rem;
  padding: 0 2rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

section#create-room form button[type="submit"] {
  display: inline-block;
  width: 15rem;
  background-color: var(--primary-color);
  color: white;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

section#create-room .result-container {
  position: absolute;
  top: 20rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50rem;
  padding: 1rem 0;
  text-align: center;
  border: 1px solid #37e937;
}

section#create-room .result-container h2 {
  font-size: var(--medium-text);
}

section#create-room .result-container p {
  font-size: var(--small-text);
}

section#create-room .result-container #room-id {
  font-weight: 600;
}

#delete-room {
  padding: 5rem 4rem;
}

#delete-room h2 {
  font-size: var(--large-text);
}

#delete-room .table-container {
  width: 100%;
}

#delete-room .table-container table {
  width: 100%;
  margin-top: 2rem;
}

#delete-room .table-container table tr {
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
}

#delete-room .table-container table tr td {
  padding: 2rem;
  font-size: var(--medium-text);
  text-align: center;
}

#delete-room .table-container table tr td .fa-trash {
  color: red;
  cursor: pointer;
  font-size: 3rem;
}

#delete-room .table-container table tr td button {
  border: none;
  outline: none;
  background: none;
}

.container {
  width: 100%;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .chat-container {
  width: 110rem;
  height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.container .chat-container .sidebar {
  width: 35rem;
  background: whitesmoke;
}

.container .chat-container .sidebar .current-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
}

.container .chat-container .sidebar .current-user .icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  font-size: var(--large-text);
}

.container .chat-container .sidebar .current-user .icon p {
  line-height: 5rem;
  font-family: Poppins-SemiBold;
}

.container .chat-container .sidebar .current-user .user-details {
  margin-left: 2rem;
}

.container .chat-container .sidebar .current-user .user-details h3 {
  font-size: var(--medium-text);
  font-weight: 400;
}

.container .chat-container .sidebar .current-user .user-details p {
  font-size: calc(var(--small-text) - 0.5rem);
}

.container .chat-container .sidebar .users-container h2 {
  font-size: var(--medium-text);
  margin: 2rem 0 0 1rem;
  font-weight: 400;
}

.container .chat-container .sidebar .users-container .users-list .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0.5rem;
  margin: 1rem 0;
}

.container .chat-container .sidebar .users-container .users-list .user .icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  font-size: var(--medium-text);
}

.container .chat-container .sidebar .users-container .users-list .user .icon p {
  line-height: 4.4rem;
  font-family: Poppins-SemiBold;
}

.container .chat-container .sidebar .users-container .users-list .user .user-details {
  margin-left: 1rem;
}

.container .chat-container .sidebar .users-container .users-list .user .user-details h3 {
  font-size: var(--medium-text);
  font-weight: 400;
}

.container .chat-container .sidebar .users-container .users-list .user .user-details p {
  font-size: calc(var(--small-text) - 0.5rem);
}

.container .chat-container .sidebar .users-container .users-list .user .joined-time {
  color: grey;
  font-size: calc(var(--small-text) - 0.5rem);
}

.container .chat-container main.chat-window {
  width: 100%;
  position: relative;
}

.container .chat-container main.chat-window div.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .chat-container main.chat-window div.header .leave-room form button {
  border: none;
  outline: none;
  background: var(--primary-color);
  color: white;
  font-size: var(--medium-text);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.container .chat-container main.chat-window div.header .leave-room form button .fa-sign-out {
  color: white;
  font-size: var(--medium-text);
}

.container .chat-container main.chat-window div.header .leave-room form button:hover {
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
}

.container .chat-container main.chat-window div.header .room-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
  min-height: 7rem;
}

.container .chat-container main.chat-window div.header .room-detail .icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  font-size: var(--medium-text);
}

.container .chat-container main.chat-window div.header .room-detail .icon p {
  line-height: 4.4rem;
  font-family: Poppins-SemiBold;
}

.container .chat-container main.chat-window div.header .room-detail p.room-name {
  font-size: var(--medium-text);
  margin: 0 1rem;
}

.container .chat-container main.chat-window div.header .room-detail .room-status {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #0ef50e;
}

.container .chat-container main.chat-window .message-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 62vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.container .chat-container main.chat-window .message-section .user-status {
  font-size: var(--small-text);
  text-align: center;
  font-weight: 600;
  margin: 0.5rem 0;
}

.container .chat-container main.chat-window .message-section .message-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container .chat-container main.chat-window .message-section .message-container .message {
  position: relative;
  width: 30rem;
  margin: 3rem 0 1rem 4rem;
  padding: 0.5rem 1rem;
  background: var(--primary-color);
  color: white;
  font-size: var(--medium-text);
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
}

.container .chat-container main.chat-window .message-section .message-container .message .icon {
  position: absolute;
  bottom: -5.4rem;
  left: -3.3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  font-size: var(--medium-text);
  margin-bottom: 2rem;
}

.container .chat-container main.chat-window .message-section .message-container .message .icon p {
  line-height: 4.4rem;
  font-family: Poppins-SemiBold;
}

.container .chat-container main.chat-window .message-section .message-container .message .meta-data {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: -2.2rem;
}

.container .chat-container main.chat-window .message-section .message-container .message .meta-data p {
  font-size: var(--small-text);
  color: grey;
}

.container .chat-container main.chat-window .message-section .incoming {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container .chat-container main.chat-window .message-section .incoming .message {
  margin: 3rem 4rem 1rem 0;
  border-radius: 0.5rem;
  border-bottom-right-radius: 0;
  background: #e9e9e9;
  color: black;
}

.container .chat-container main.chat-window .message-section .incoming .message .icon {
  left: 29rem;
  bottom: -5.5rem;
}

.container .chat-container main.chat-window .message-section .outgoing {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .chat-container main.chat-window footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  min-height: 5rem;
  left: 0;
  bottom: 0;
}

.container .chat-container main.chat-window footer .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2rem;
}

.container .chat-container main.chat-window footer .input-container input[type="text"] {
  width: 90%;
  height: 3.8rem;
  font-size: var(--medium-text);
  padding: 1rem 2rem;
  border: none;
  outline: none;
  background-color: var(--dark-white);
  border-radius: 0.5rem;
}

.container .chat-container main.chat-window footer button {
  width: 10rem;
  height: 3.5rem;
  background: var(--primary-color);
  border: none;
  outline: none;
  color: white;
  font-size: var(--medium-text);
  cursor: pointer;
  margin-left: 1rem;
}

.container .chat-container main.chat-window footer button .fa-paper-plane {
  color: white;
  margin-right: 0.5rem;
}

.container .chat-container main.chat-window footer button:hover {
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
}

.signup-form-container {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-form-container .signup-form {
  width: 35rem;
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.signup-form-container .signup-form .signup-header h1 {
  font-size: var(--large-text);
}

.signup-form-container .signup-form .signup-header h2 {
  font-size: var(--medium-text);
}

.signup-form-container .signup-form .signup-header p {
  font-size: var(--small-text);
  font-family: Poppins-Italic;
  margin-top: 1rem;
}

.signup-form-container .signup-form .signup-main {
  margin: 2rem 0;
}

.signup-form-container .signup-form .signup-main input[type="text"], .signup-form-container .signup-form .signup-main input[type="email"], .signup-form-container .signup-form .signup-main input[type="password"] {
  width: 100%;
  height: 4rem;
  font-size: var(--medium-text);
  margin-bottom: 2rem;
  border: none;
  border-bottom: 0.15rem solid grey;
  outline: none;
}

.signup-form-container .signup-form .signup-main input[type="text"]:hover, .signup-form-container .signup-form .signup-main input[type="text"]:focus, .signup-form-container .signup-form .signup-main input[type="email"]:hover, .signup-form-container .signup-form .signup-main input[type="email"]:focus, .signup-form-container .signup-form .signup-main input[type="password"]:hover, .signup-form-container .signup-form .signup-main input[type="password"]:focus {
  border-color: var(--primary-color);
}

.signup-form-container .signup-form .signup-footer {
  font-size: var(--small-text);
}

.signup-form-container .signup-form .signup-footer p a {
  text-decoration: none;
  color: var(--primary-color);
}

.invalid {
  border-color: red !important;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 7rem;
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 4rem;
}

header nav .logo {
  cursor: pointer;
}

header nav .logo a {
  text-decoration: none;
}

header nav form button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

header nav form button .fa-sign-out-alt {
  font-size: 3rem;
  color: var(--primary-color);
}

.btn {
  display: block;
  height: 5rem;
  font-size: var(--medium-text);
  border-radius: 4rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
}

.btn-login, .btn-signup {
  color: white;
  width: 25rem;
  background-color: var(--primary-color);
  margin: 3rem auto 0 auto;
}

.btn-join {
  background-color: var(--primary-color);
  height: 4.5rem;
  width: 17rem;
}

.btn-join a {
  text-decoration: none;
  color: white;
}

.name {
  font-family: Abhinav;
  letter-spacing: 0.1rem;
  color: var(--primary-color);
  font-size: calc(var(--medium-text) + 2rem);
  margin-left: 1rem;
  font-weight: 400;
}

.bottom-alert-container {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
}

.alert {
  min-width: 25rem;
  height: 3rem;
  padding: 1rem;
  font-size: var(--small-text);
  margin: 1rem 0;
  color: #e81500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
}

.close-btn {
  border: none;
  outline: none;
  background: #e81500;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.not-found-message {
  text-align: center;
  font-size: var(--large-text);
}

.error {
  text-align: center;
  margin-top: 4rem;
}

.error h1 {
  font-size: 10rem;
  color: red;
  font-family: Poppins-Bold;
}

.error .error-detail {
  font-size: 5rem;
}

.error p {
  font-size: 2rem;
}

.banner-for-mobile {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  padding: 2rem 0;
  z-index: 9;
}

.banner-for-mobile h1 {
  margin-top: 5rem;
  font-size: 4rem;
}

.banner-for-mobile p {
  font-size: 2rem;
  margin: 2rem;
}

.banner-for-mobile h3 {
  font-size: 2.5rem;
}

@media only screen and (max-width: 900px) {
  html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .banner-for-mobile {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */