<div class="banner-for-mobile">
    <h1>Sorry!!!</h1>
    <p>This site is not available for mobile/tab or devices with smaller screen(i.e 900px)</p>
    <h3>Note:Please visit from PC/Laptop or browser on full screen mode for better experience.</h3>
</div>
